.container-cadastroLocais {
    width: 100%;
    padding: 80px;
    display: flex;
    justify-content: center;
  }
  
  .logoCadastro {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  